.allGraphsSection{  
    display: flex;
    flex-wrap: wrap;

    .graph1Box{
        margin-top: 10%;
    }

    .graph2Box{
        margin-top: 10%;
    }

    .graph3Box{
        margin-top: 10%;
    }
}



